
PORT=5000

CLIENT_URL=http://localhost:3000

DB_URI=mongodb://localhost:27017

DB_NAME=chatapp

DB_RETRY_LIMIT=5

DB_RETRY_DELAY=5000

JWT_ACCESS_SECRET=t678ifr567jvfdr5678jbvcder5678jbvfdre45678iij

JWT_REFRESH_SECRET=gfty789lkjhgfre4567890iuhgfcxdrfghjmkiu8765redf

JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_EXPIRES_IN=7d

NODE_ENV=dev

COOKIE_SECURE=false

COOKIE_HTTP_ONLY=true

COOKIE_SAME_SITE=lax

COOKIE_ACCESS_MAX_AGE=15*60*1000,
        
COOKIE_REFRESH_MAX_AGE= 30*24*60*60*1000,

BCRYPT_ROUNDS=12

LOG_LEVEL=info